@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;900&display=swap');
*
{
    box-sizing: border-box;
}
html
{
    background: white;
    height: 100vh;
    width: 100vw;
}
body
{
    --color60: #dbfffb;
    --color30: #fff;
    --color10: #14c1f0;
    width: 100%;
    height: 100%;

    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent;
}

.main-container
{
    border-top: 1px solid var(--color60);
    height: 90%;
    width: 95%;
    margin: 0 auto;
    background-image: linear-gradient(0deg,var(--color10) -200%,var(--color60));
    margin: 30px auto;
    border-radius: 0 0 30px 30px;
    position: relative;

}   
.header
{

    font-size: 32px;
    font-weight: 600;
    color: black;
    margin: 20px auto;
    width: fit-content;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
}
.drop-container
{
    
    background-color: var(--color30);
    border-radius: 30px;
    margin: 15px 30px;
    position: relative;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#video-input
{
   
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}
label.active[for = "video-input"]
{
    display: block;
    background: url("/icons/insertVideo.png");
    background-size: contain;
    background-repeat: no-repeat    ;
    cursor: pointer;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.video-container
{
    display: none;
}
.video-container.active
{

    margin: 20px auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}
.video-group
{
    position: relative;


    max-width: 100%;

    margin: 20px 0;
}
video
{
    max-height: 80%;
    border-radius: 20px 20px 0 0;
    background-size: contain;
}
.options-container
{
    width: fit-content;
    border: 4px dashed var(--color10);
    border-radius: 20px;
    margin: 20px 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 18px;
}
.option
{
    display: block;
    width: 315px;
    margin: 10px 30px;
    display: flex;
    justify-content:space-between;
}

#time-end, #time-start
{
    border: 2px solid var(--color10);
    border-radius: 10px;
    outline: none;
}
.options-container input
{
    transform: scale(1.3);
}
.options-container label
{
    background-color: var(--color30);
}
.options-container .start-encoding
{
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    padding: 10px 20px;
    margin: 0 auto;
    background-image: linear-gradient(180deg,var(--color10) -200%,var(--color60));
    border-radius: 20px;
    cursor: pointer;
}
#progress
{
    display: none;
}
#progress.active
{
    position: relative;
    display: block;
    width: 80%;
    background-color: var(--color30);
    border: 3px solid var(--color10);
    border-radius: 30px;
    margin: 0 auto;
}
#bar
{
    border-radius: 30px;
    z-index: -1;
    width: 0;
    height: 30px;
    background-color: var(--color10);
    transition: 1s;
}
#percentage
{
    width: 100%;
    position: absolute;
    top: -2em;
    text-align: center;
    font-size: 24px;
}


.slider-container{
    position: relative;
    pointer-events: none;
  }
  
  .slider-container input[type="range"]{
    height: 5em;
    display: block;
    margin: 0;
    width: 100%;
    overflow: hidden;
    border-radius: 0 0 20px 20px;
    border: 2px solid var(--color10);
  }
  
  .slider-container input[type="range"]:last-child{
    margin-top: -5em;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
  }
  input[type="range"]::-moz-range-thumb {
    pointer-events: all;
  }
  input[type="range"]::-ms-thumb {
    pointer-events: all;
  }


  input[type='range'] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: var(--color60);

  }
  
  input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    color: #13bba4;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 7px;
    -webkit-appearance: none;
    height: 5em;
    cursor: ew-resize;
    background: rgb(59, 58, 133);
    box-shadow: 0 0 3px rgb(59, 58, 133);
    margin: 0;
    padding: 0;
    
  }
